<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join Test Page</title>
</head>
<body>
<div class="container" style="display: flex; justify-content: center; align-content: center; align-items: center; flex-direction: column; margin: 200px auto; ">
    <h1>회원 가입 정보</h1>
    <form action="/api/join" method="post">
        <div>
            닉네임
        </div>
        <input type="text" name="nickname">
        <br>
        <div>
            시작일
        </div>
        <input type="text" name="startDate">
        <input type="submit">
    </form>
</div>
</body>
</html>